.footer {
  padding: 4rem 0;
  height: 64px;
}

.footer a {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}
